@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    color: pink;
    background-color: white;
}
body{
    background-color: beige;
    text-align: center;
    font-family: Arial;
    color:rgb(34, 131, 190);
    align-items: center;
}
img{
    border-radius: 200px;
}
iframe{
    border-radius: 20px;
}
p{
    font-family: Saira;
}